.fixed-top
  %nav.navbar.navbar-expand-lg.navbar-gray-gradient.bg-dark
    .container
      = link_to_pages
      %button.navbar-toggler{aria: {controls: 'navbars-collapse', expanded: false, label: 'Toggle navigation'}, data: {target: '#navbars-collapse', toggle: 'collapse'}, type: 'button'}
        %span.navbar-toggler-icon
